
html {
  height: 100%;
}

body {
  text-align: center;
  background-color: #011F3F;
  height: 100%;
}


#level-title, #reload-message, h1, h2, h3, h4, h5, h6 {
  font-family: 'Stick', sans-serif;
  color: #FEF2BF;
}

#level-title {
  font-size: 4rem;
  margin: 5% auto 0;
}

#game-wrap {
  position: relative;
  overflow: hidden;
  width: 1000px;
  margin: 5% auto;
  /* border: 1px solid yellow; */
}

#text-container {
  position: absolute;
  padding: 0 3%;
  /* border: 1px solid lightblue; */
}

#rules-title {
  font-size: 3rem;
  margin-top: -1.1rem;
  margin-bottom: 3rem;
}

#rules-text {
  line-height: 3rem;
  font-size: 1.8rem;
  margin: 0 0 -0.5rem;
}

#reload-message {
  font-size: 3rem;
  position: absolute;
  margin: 0;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.btn {
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 20%;
  margin: 25px;
  border: 10px solid black;
  opacity: 0.1;
}

.red {
  background-color: #810034;
}

.green {
  background-color: #ff7171;
}

.blue {
  background-color: #9fd8df;
}

.yellow {
  background-color: #cdc733;
}



/* Device width breakpoints reference
320px — 480px: Phone
481px — 768px: Tablets
769px — 1200px: Laptops
1201px and more Desktops */



/* Laptops */
@media screen and (max-width: 1200px) {

  .btn {
    height: 150px;
    width: 150px;
    margin: 15px;
    border: 6px solid black;
  }

  #level-title {
    font-size: 3rem;
    margin-top: 5%;
  }

  #game-wrap {
    width: 600px;
  }

  #rules-title {
    font-size: 2rem;
    margin-top: -0.8rem;
    margin-bottom: 1.5rem;
  }

  #rules-text {
    line-height: 2rem;
    font-size: 1.5rem;
    margin: 0 0 -0.2rem;
  }

  #reload-message {
    font-size: 2.5rem;
  }

}



/* Tablets */
@media screen and (max-width: 768px) {

  .btn {
    height: 150px;
    width: 150px;
    margin: 15px;
    border: 6px solid black;
  }

  #level-title {
    font-size: 2rem;
    margin-top: 10%;
  }

  #game-wrap {
    width: 450px;
    margin-top: 10%;
  }

  #rules-title {
    font-size: 1.5rem;
    margin-top: -0.6rem;
    margin-bottom: 1rem;
  }

  #rules-text {
    line-height: 2rem;
    font-size: 1.2rem;
  }

  #reload-message {
    font-size: 2rem;
  }

}



/* Phones */
@media screen and (max-width: 480px) {

  .btn {
    height: 130px;
    width: 130px;
    margin: 5px;
    border: 4px solid black;
  }

  #level-title {
    font-size: 1.5rem;
    margin-top: 10%;
  }

  #game-wrap {
    width: 300px;
  }

  #rules-text {
    line-height: 1.3rem;
    font-size: 1rem;
    margin: 0 0 -0.1rem;
  }

  #reload-message {
    font-size: 1.5rem;
  }

}
